# Main
src/main.cpp


# Build folder
build/*
!build/data/
build/data/*
!build/data/saved_link.json
!build/data/excel/
build/data/excel/*
!build/data/excel/ExcelReaderTest.xlsx
!build/data/test_html/
build/data/test_html/*
!build/data/test_html/htmlparser_test.html


# Data folder
data/saved_link.json
data/car/*
!data/car/.gitkeep
data/excel/*
!data/excel/.gitkeep
data/html/*
!data/html/.gitkeep
!data/html/archive/
!data/html/archive/.gitkeep


# Documentation folder
docs/


# Log folder
logs/*
!logs/.gitkeep


# VSCode folder
.vscode/