# Main
src/main.cpp


# Build folder
build/*
!build/data/
build/data/*
!build/data/input_excel/
build/data/input_excel/*
!build/data/input_excel/ExcelReaderTest.xlsx


# Data folder
data/input_excel/*
!data/input_excel/.gitkeep
data/save_html/*
!data/save_html/.gitkeep
data/save_link/*
!data/save_link/.gitkeep
data/test_save_html/*
!data/test_save_html/.gitkeep


# Documentation folder
docs/


# Log folder
logs/*
!logs/.gitkeep


# VSCode folder
.vscode/